<footer>
  <nav>
    <ul class="footer-nav js-footer-nav">
      <li class="active" data-src="main">
        <div>
          <ion-icon class="footer-icon" name="diamond-outline"></ion-icon>
        </div>
        <p class="item-desc">Main</p>
      </li>
      <li data-src="mine">
        <div>
          <ion-icon class="footer-icon" name="hammer-outline"></ion-icon>
        </div>
        <p class="item-desc">Mine</p>
      </li>
      <li data-src="friends">
        <div>
          <ion-icon class="footer-icon" name="people-circle-outline"></ion-icon>
        </div>
        <p class="item-desc">Friends</p>
      </li>
      <li data-src="earn">
        <div>
          <ion-icon class="footer-icon" name="logo-usd"></ion-icon>
        </div>
        <p class="item-desc">Earn</p>
      </li>
      <li data-src="airdrop">
        <div>
          <ion-icon class="footer-icon" name="logo-apple-ar"></ion-icon>
        </div>
        <p class="item-desc">Airdrop</p>
      </li>
    </ul>
  </nav>
</footer>
